.dashboard-card {
  margin: 2rem 0 0 4rem;


  @media (max-width: 450px) {
    .dashboard-list {

      display: flex !important;
      flex-direction: column;
    }
  }

  .dashboard-list {
    display: grid;
    gap: 15px;
    grid-template-columns: 30% 30% 30%;
    padding: 35px;

    .content-list {
      line-height: 5px;
      text-align: center;
    }
  }
}