<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-body">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 bg-light"
      id="sidebar-container"
    >
      <div class="offcanvas-title d-flex justify-content-end">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      >
        <span class="fs-4">Cielo Assessment</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="list-group-item">
          <i class="bi bi-bar-chart"></i> Dashboard
        </li>
        <li class="list-group-item">
          <i class="bi bi-receipt"></i>
          Transaçōes
        </li>
      </ul>
      <hr />
    </div>
  </div>
</div>
