<div class="transactions-container">
  <mat-card class="transactions-card">
    <mat-card-header>
      <mat-card-title>Transaçōes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="transactions-list">
      <div class="web-transactions">
      <div class="filter-container">
        <mat-form-field class="transactions-filter" appearance="outline">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. ium"
            #input
          />
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource" class="content-table">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell class="header-cell" *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
    <div  class="mobile-transactions">
      teste mobile
    </div>
    </mat-card-content>
    <mat-card-actions style="display: none">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
