<div class="transactions-container">
  <mat-card class="transactions-card">
    <mat-card-header>
      <mat-card-title>Transaçōes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="transactions-list">
      <div class="web-transactions">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Valor Total</th>
              <th scope="col">Valor Líquido</th>
              <th scope="col">Canal Venda</th>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of valueTransactions?.items">
              <td>{{ post?.id }}</td>
              <td>{{ post?.grossAmount | currency : "BRL" }}</td>
              <td>{{ post?.netAmount | currency : "BRL" }}</td>
              <td>{{ post?.channel }}</td>
              <td>{{ post?.date | date : "dd/MM/yy" }}</td>
              <td>{{ post?.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mobile-transactions">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let post of valueTransactions?.items"
          >
            <h5>{{ post?.paymentType }}</h5>
            <h6>
              {{ post?.date | date : "dd/MM/yy" }}
            </h6>
            {{ post?.netAmount | currency : "BRL" }}
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
