.transactions-container {
    margin: 2rem 0 0 4rem;

    .transactions-card {

        .transactions-list {
            margin: 30px 0 0 0;
            padding: 0 40px;

            .filter-container {
                width: 100%;
                display: flex;
                justify-content: center;

                .transactions-filter {
                    width: 90%;
                    font-size: 20px;
                }

            }

            table {

                padding: 0 30px;

                .header-cell {
                    font-size: 20px;
                }
            }

            @media (max-width: 450px) {
                .web-transactions {
                    display: none;
                }
            }


            @media (min-width: 450px) {
                .mobile-transactions {
                    display: none;
                }
            }


            .mobile-transactions {
                h6 {
                    font-size: 12px;
                }
            }


        }
    }
}


@media (max-width: 450px) {

    .transactions-container {
        margin: 10px 0;

    }


}